@model CareWithLoveApp.Models.ViewModel.CuidadorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuidador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especializacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especializacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CuidadorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
